.my-veggies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.my-veggies p {
  max-width: 70%;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 0;
}

.heading {
  font-size: 1.2rem;
  font-weight: bold;
}
